@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');
/* google icons */
@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200);
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

/* base root */
:root{
    --open-sans                 : 'Open Sans', sans-serif;
}

/* general */ 
body{ 
    font-family: var(--open-sans); 
    overflow-x: hidden; 
}
