@import 'root';
@import 'base';

@keyframes only-css {
    0% {
        color: #19dcea;
    }
    25% {
        color: #b22cff;
    }
    50% {
        color: #ea2222;
    }
    75% {
        color: #f5be10;
    }
    100% {
        color: #3bd80d;
    }
}

body{
    background: #272822;
}
.head{
    padding: 20px 0; 
    h1{ 
        font-size: 2rem; 
        text-align: center;
        color: var(--color-font);
    }
}
input[type="radio"]{
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden; 
    pointer-events: none;
}
#drawer-menu-left{
    &:checked{
        &~.radio-left{
            background: var(--bg-btn);
        }
        &~.drawer-menu{
            display: none;
            &.drawer-menu-left{
                display: block; 
            }
        }
    }
}
#drawer-menu-right{
    &:checked{
        &~.drawer-menu{
            display: none;
            &.drawer-menu-right{
                display: block; 
            }
        }
    }
}
#drawer-menu-center{
    &:checked{
        &~.drawer-menu{
            display: none;
            &.drawer-menu-center{
                display: block; 
            }
        }
    }
}
.radio-btn-set{
    display: flex;
    justify-content: center;
    .radio-btn{
        padding: .25rem .5rem;
        margin: 1rem; 
        background: var(--bg-btn);
        cursor: pointer;
        display: flex;
        align-items: center;
        position: relative;
        border-radius: 5px;
        transition: .4s;
        color: var(--color-font);
    }
}
#drawer-menu-checkbox{
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden; // öyle ölmez bomba at
    pointer-events: none;
    &:checked{
        &~.overlay{
            opacity: 1;
            pointer-events: all;
        }
        &~.drawer-menu{
            &.drawer-menu-left{
                .btn-set{
                    .hamburger{
                        transform: translateX(var(--drawer-menu-width));
                        &:hover{
                            transform: translateX(calc(var(--drawer-menu-width) - .5rem));
                        }
                    }
                }
            }
            &.drawer-menu-right{
                .btn-set{
                    .hamburger{
                        transform: translateX(calc(var(--drawer-menu-width) * -1));
                        &:hover{
                            transform: translateX(calc((var(--drawer-menu-width) * -1) + .5rem));
                        }
                    }
                }
            }
            &.drawer-menu-center{
                .btn-set{
                    .hamburger{
                        transform: translateX(-1rem) translateY(-1rem);
                        &:hover{
                            transform: translateX(0);
                        }
                    }
                }
                .drawer-menu-section{
                    transform: translate(-50%,-50%) scale(1);
                    opacity: 1;
                    nav{ 
                        transform: scale(1); 
                    }
                }
            }
            .btn-set{
                .hamburger{
                    transform: translateX(var(--drawer-menu-width));
                    transition: ease-in-out .4s;
                    &:hover{
                        transform: translateX(calc(var(--drawer-menu-width) - .5rem));
                    }
                    span{
                        &.icon{
                            &-menu{
                                opacity: 0;
                            }
                            &-close{
                                opacity: 1;
                            }
                        }
                    }
                }
            }
            .drawer-menu-section{
                width: var(--drawer-menu-width);
                nav{
                    transform: translateX(0);
                    transition: ease-in-out .4s .1s;
                }
            }
        }
    }
}//drawer-menu-checkbox
.overlay{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.3);
    opacity: 0;
    pointer-events: none;
    transition: .4s;
}

.drawer-menu{
    &.drawer-menu-left{
        .btn-set{
            justify-content: flex-start;
        }
        .drawer-menu-section{
            left: 0;
            nav{
                transform: translateX(calc(var(--drawer-menu-width) * -1));
            }
        }
    }
    &.drawer-menu-right{
        .btn-set{
            justify-content: flex-end;
        }
        .drawer-menu-section{
            right: 0;
            nav{
                transform: translateX(calc(var(--drawer-menu-width) * 1));
            }
        }
    }
    &.drawer-menu-center{
        .btn-set{
            justify-content: flex-start;
        }
        .drawer-menu-section{
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%) scale(0);
            max-width: 90%;
            max-height: 90%;
            opacity: 0;
            nav{
                transform: scale(0);
            }
        }
    }
    .btn-set{
        display: flex;
        position: relative;
        z-index: 53;
        .hamburger{
            padding: .25rem .5rem;
            margin: 1rem; 
            background: var(--bg-btn);
            cursor: pointer;
            display: flex;
            align-items: center;
            position: relative;
            border-radius: 5px;
            transition: .4s;
            transform: translateX(0);
            &:hover{
                transform: translateX(.5rem);
            }
            span{
                font-size: 2rem;
                color: var(--color-font); 
                &.icon{
                    &-menu{
                        opacity: 1;
                        transition: .4s;
                    }
                    &-close{
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%,-50%);
                        opacity: 0;
                        transition: .4s;
                    }
                }
            }
        }
    }//btn-set
    .drawer-menu-section{
        background: #3b3b3b; 
        width: 0;
        position: fixed;
        top: 0;
        bottom: 0;
        overflow: hidden;
        transition: .4s;
        nav{
            width: var(--drawer-menu-width);
            padding: 1rem 1rem 1rem;
            transition: .4s;
            h1{ 
                font-size: 2rem;
                color:#f5be10;
                animation: only-css 8s linear infinite alternate both;
            }
            ul{
                li{
                    margin-bottom: 1rem;
                    a{
                        display: block;
                        padding: .5rem 0;
                        color: var(--color-font);
                        font-size: 1.25rem;
                        font-weight: 700;
                        transition: .4s; 
                        &:hover{
                            padding-left: 1rem;
                        }
                    }
                }
            }
        }
    }//drawer-menu-section
}//drawer-menu

.footer{
    padding-top: 100px;
    h6{
        font-size: 1rem; text-align: center;
        padding-bottom: 20px; 
        a{ 
            display: block;
            color: var(--color-head);
        }
    }
}